/* CSS declarations go here */

body {
  font-family: sans-serif;
  background-color: snow;
}

pre, div {
  padding:0;
  margin:0;
}

ul {
  padding-left: 0;
  margin-left: 0;  
}

li {
  list-style-type: none;
}

h3 {
  font-size:2rem;
  text-decoration: underline;
}

tr:hover * { 
  background-color: #fee;
}